<% if @playlist.errors.any? %>
  <%  @playlist.errors.full_messages.each do |msg| %>
    <li>  <%= msg %>  </li>
  <% end %>
<% end %>

<%= form_for @playlist do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <p>
   <%= f.submit "Submit Playlist" %>
  </p>

<% end %>
