<% if @review.errors.any? %>
  <%  @review.errors.full_messages.each do |msg| %>
    <li>  <%= msg %>  </li>
  <% end %>
<% end %>

<h2><%= @playlist.title %></h2>
<p><%= @playlist.description %></p>

<iframe src="https://embed.spotify.com/?uri=<%= @playlist.url %>" width="1000" height="500" frameborder="0" allowtransparency="true"></iframe>

<p><%= link_to @playlist.user.email, user_path(@playlist.user) %></p>

<ul>
  <% if @playlist.user == current_user %>
    <p><%= link_to "Edit Playlist", edit_playlist_path(@playlist) %></p>
    <p><%= link_to "Delete Playlist", playlist_path(@playlist), method: :delete %></p>
  <% elsif current_user == nil %>
  <% elsif current_user.admin? %>
    <p><%= link_to "Delete Playlist", admin_playlist_path(@playlist), method: :delete %></p>
  <% end %>
</ul>

<%= render '/reviews/review_form' %>

<%= render '/reviews/show_review' %>
