<% if @review.errors.any? %>
  <%  @review.errors.full_messages.each do |msg| %>
    <li>  <%= msg %>  </li>
  <% end %>
<% end %>
<h2><%= @playlist.title %></h2>

<p><%= @playlist.description %></p>

<p><%= @playlist.url %></p>

<p><%= @playlist.user.email %></p>

<ul>
  <% if @playlist.user == current_user %>
    <p><%= link_to "Edit Playlist", edit_playlist_path(@playlist) %></p>
    <p><%= link_to "Delete Playlist", playlist_path(@playlist), method: :delete %></p>
  <% end %>
</ul>


<%= render '/reviews/review_form' %>


<% @playlist.reviews.each do |review| %>
  <div> Username: <%= review.user.email %> </div>
  <div>Rating: <%= review.rating %></div>
  <div>Review: <%= review.description %></div>
  <% if review.user_id == current_user.id %>
    <div> <%= link_to "Edit", edit_playlist_review_path(@playlist, review)  %> </div>
    <div> <%= link_to "Delete Review", playlist_review_path(@playlist, review), method: :delete %> </div>
  <% end %>
<% end %>
