
<%= form_for [@playlist, @review] do |f| %>

<div class="field">
  <%= f.label :rating %><br>
  <%= f.select :rating, [["0", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] %>
</div>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="actions">
  <%= f.submit "Submit Review", method: :post %>
</div>
<% end %>
